
body {
    font-size: 14px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    /*display: none;*/
}

.firstrow {
    float: left;
}

.content {
    width: 1640px;
    float: left;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.layer {
    stroke: none;
}

.wrapper {
    position: relative;
}

.controller {
    right: 0px;
    top: 40px;
    float: right;
    position: fixed;
}

.donutarea {
    height: 220px;
    position: relative;
}

.labelarea {
    padding: 18px 0 0 0;
    clear: both;
}

.checkboxarea {
    float: left;
    width: 20px;
    margin: 4px 0 0 0;
}

.checkb {
    height: 20px;
    width: 20px;
}

.factorarea {
    font-size: 16px;
    height: 220px;
    float: left;
}

.svgg {
    cursor: ew-resize;
}

.drag_history {
}

.historydiv {
    width: 200px;
    margin: 10px;
}

.history_item {
    width: 120px;
}

.datasmootharea {
    margin: 20px 0 0 0;
}

.secondrow {
    margin: 0 0 0 30px;
}

.donutsvg_none {
    margin: 5px;
    padding: 5px;
    border: none;
}

.donutsvg_solid {
    margin: 5px;
    padding: 4px;
    border: solid 1px;
}

.donutsvg0 {
    padding: 0px;
    border: none;
}
.overlay_checkboxes{
    width:240px;
}
.overlay {
    background-color: #fff;
    z-index: 1;
    position: absolute;
    /*box-shadow: 10px 10px 5px #ccc;*/
    /*-moz-box-shadow: 10px 10px 5px #ccc;*/
    -webkit-box-shadow: 4px 4px 1px #bbb;
    /*-khtml-box-shadow: 10px 10px 5px #ccc;*/
    /*- See more at: http://www.corelangs.com/css/box/image-shadow.html#sthash.yIMgYrHr.dpuf*/
    display:none;
    /*clear: both;*/
    /*width:500px;*/
    /*height:420px;*/
}

.dissvg {
    padding: 50px 50px;
    width: 240px;
    height: 320px;
}

#factorsvg {
    padding-left: 15px;
}

#qualitysvg {
    padding-right: 15px;
}